* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c467b;
  text-align: center;
}

#reset-btn,
#new-game {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 1rem;
  background-color: #191913;
  border: none;
}

.winner-msg-container {
 margin-bottom: 3rem;
}

.win-msg {
  font-size: 5rem;
}

.container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.game {
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
  cursor: pointer;
  height: 12rem;
  max-width: 12rem;
  width: 100%;
  border: 1px solid #2f5755;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 5rem;
}
